@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .keep-scrolling::-webkit-scrollbar {
        display: none;
    }

    .keep-scrolling {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}